#logout-dialog {
	background-color: transparent;
}
#logout-dialog > box {
	min-width: 310px;
    padding: 5px;
	border-radius: 16px; 
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}
#inner_box {
    min-width: 300px;
    padding: 20px 10px 15px 10px;
    border-radius: 12px;
	background-color: #e6e9f0;
}
#logout-dialog-button {
	min-width: 280px;
	min-height: 34px;
	border-radius: 10px;
	background-color: #e6e9f0;
    border: none;
}
#logout-dialog-button label {
	font-size: 13px;
	color: #000100;
	font-weight: normal;
}
#logout-dialog-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#logout-dialog-button:active,
#logout-dialog-button:checked { 
	background-color: rgba(0, 0, 0, 0.2);
}
